<html>
    <head>
        <title>Vishisht Priyadarshi</title>
    </head>
    <body>
        <div>
            <h1 style="color:green"><a href="/">My Blog</a></h1>
        </div>

        <div>
            <p>published: 14.01.2019, 00:14</p>
            <h2 style="color:blue"><a href="">Working....</a></h2>
            <p>Hello World!!!</p>
        </div>

        <div>
            <p>published: 14.01.2019, 00:14</p>
            <h2 style="color:cyan"><a href="">My post part-2</a></h2>
            <p>(!Not) it is working ....XD</p>
        </div>
    </body>
</html>